In [4]:
my_dict = {'name': 'jack', 'age': 26}

In [5]:
'name' in my_dict

True

In [6]:
'jack' in my_dict.values()

True

In [7]:
'hello' not in my_dict

True

In [8]:
'age' not in my_dict

False

In [9]:
'age' not in my_dict.values()

True

In [10]:
dict1 = {'name1': 'ali', '1age': 23}

In [11]:
dict2 = {'2name': 'mina', '2age': 44}

In [12]:
dict1 + dict2

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [ ]:
dict1.update(dict2)

In [ ]:
print(dict1)

{'name1': 'ali', '1age': 23, '2name': 'mina', '2age': 44}

In [ ]:
dict1 * 3

TypeError: unsupported operand type(s) for *: 'dict' and 'int'

In [15]:
print(dict1.keys())

dict_keys(['name1', '1age'])

In [17]:
print(dict1.values())

dict_values(['ali', 23])

In [19]:
print(dict1.items())

dict_items([('name1', 'ali'), ('1age', 23)])

In [29]:
new_re = print(list(dict1.keys()))

['name1', '1age']

In [30]:
print(new_re)

None

In [34]:
print(dict1.get('name1', 'no way'))

ali

In [39]:
print(dict1.get('1ae', 'item not found'))

item not found

In [41]:
print(dict1)

{'name1': 'ali', '1age': 23}

In [43]:
dict1.update(dict2)

In [47]:
dict2

{'2name': 'mina', '2age': 44}

In [48]:
dict1

{'name1': 'ali', '1age': 23, '2name': 'mina', '2age': 44}

In [51]:
dict1.pop('1age', 'no way')

'no way'

In [52]:
dict1.setdefault('age', '22')

'22'

In [54]:
print(dict1)

{'name1': 'ali', '2name': 'mina', '2age': 44, 'age': '22'}

In [55]:
dict1.setdefault('iran', '90000000000')

'90000000000'

In [57]:
dict1

{'name1': 'ali',
 '2name': 'mina',
 '2age': 44,
 'age': '22',
 'iran': '90000000000'}

In [60]:
print(dict1)

{'name1': 'ali', '2name': 'mina', '2age': 44, 'age': '22', 'iran': '90000000000'}

In [64]:
len(dict1)

5

In [65]:
dict1.clear()

In [66]:
dict1.update({'ali':42, 'reza':17, 'mina':16})

In [68]:
sorted(dict1.values())

[16, 17, 42]

In [1]:
dict1

NameError: name 'dict1' is not defined

In [23]:
family_ages = {
    'parent1': {'name': 'john', 'age': 42},
    'parent2': {'name': 'reza', 'age': 33},
    'child': {'name': 'Doe', 'age': 18}
}

In [24]:
print(family_ages['parent1']['name'])

john

In [25]:
family_ages['parent2']['name']

'reza'

In [50]:
family_ages['child']['age'] += 1

In [51]:
family_ages['child']['age']

42

In [56]:
family_ages['child']['birthday'] = '10 july'

In [57]:
print(family_ages['child'])

{'name': 'Doe', 'age': 42, 'virthday': '10 july', 'birthday': '10 july'}

In [62]:
family_ages['child'].pop('virthday', 'there isn\'t')

'10 july'

In [64]:
print(family_ages)

{'parent1': {'name': 'john', 'age': 42}, 'parent2': {'name': 'reza', 'age': 33}, 'child': {'name': 'Doe', 'age': 42, 'birthday': '10 july'}}

In [66]:
city_persence = {'new york': True, 'berlin': True, 'tokyo': True, 'sydney': True}

In [68]:
'londan' in city_persence

False

In [70]:
'tokyo' in city_persence

True

In [79]:
student_score = {'alice': 88, 'bob': 95}

In [80]:
student_score.setdefault('bob')

95

In [81]:
student_score.setdefault('charli')

In [82]:
student_score

{'alice': 88, 'bob': 95, 'charli': None}

In [83]:
preferences = {'color': 'bule', 'food': 'pizza', 'drink': 'water'}

In [90]:
preferences.update({'drink': 'orange juice'})

In [91]:
print(preferences)

{'color': 'bule', 'food': 'pizza', 'drink': 'orange juice'}

In [93]:
stock_A = {'apple': 5, 'oranges': 7}
stock_B = {'oranges': 12, 'bananas': 4}

In [95]:
stock_A.update(stock_B)

In [97]:
print(stock_A)

{'apple': 5, 'oranges': 12, 'bananas': 4}