In [ ]:
class Person:
    def __init__(self, name, age, ID):
        self.name = name
        self.age = age
        self.ID = ID
    
    def display_info(self):
        print(f"Name: {self.name}, Age: {self.age}, ID: {self.ID}")

In [15]:
class Student(Person):
    def __init__(self, name, age, ID, student_id):
        super().__init__(name, age, ID)
        self.student_id = student_id
        self.courses = []

    def enroll_course(self, course_name):
        self.courses.append(course_name)
        print(f"{self.name} has enrolled in {course_name}")
    
    def display_courses(self):
        print(f"{self.name}'s courses: {', '.join(self.courses)}")
    
    def display_info(self):
        super().display_info()
        print(f"studentID: {self.student_id}")

In [16]:
student1 = Student('reza', '23', 223444, 4001830272)

In [17]:
student1.enroll_course('riazi')
student1.enroll_course('madar')
student1.enroll_course('fizik')
student1.display_info()
student1.display_courses()

reza has enrolled in riazi
reza has enrolled in madar
reza has enrolled in fizik
Name: reza, Age: 23, ID: 223444
studentID: 4001830272
reza's courses: riazi, madar, fizik

In [18]:
student1.display_info()

Name: reza, Age: 23, ID: 223444
studentID: 4001830272

In [34]:
class Person:
    def __init__(self, name ,age):
        self.name = name
        self.age = age
    
    def display_info(self):
        print(f"name: {self.name}, Age: {self.age}")

In [39]:
class Employee(Person):
    def __init__(self, name, age, emplyee_id):
        super().__init__(name, age)
        self.employee_id = emplyee_id
    
    def display_employee_info(self):
        print(f"Employee ID: {self.employee_id}")
        super().display_info()

In [42]:
class Manager(Employee):
    def __init__(self, name, age, emplyee_id, department):
        super().__init__(name, age, emplyee_id)
        self.department = department

    def display_manager_info(self):
        print(f"department: {self.department}")
        super().display_employee_info()

In [43]:
em1 = Employee("reza", 17, 4001830272)

In [44]:
em1.display_employee_info()

Employee ID: 4001830272
name: reza, Age: 17

In [45]:
manager1 = Manager('ali', 44, 4433, 'asli')

In [1]:
manager1.display_manager_info()

NameError: name 'manager1' is not defined

In [3]:
class Vehicle: 
    def __init__(self, make, model, year):
        self.make = make
        self.model = model
        self.year = year

    def display_info(self):
        print(f"{self.year}, {self.make}, {self.model}")

In [4]:
class Car(Vehicle):
    def __init__(self, make, model, year, door):
        super().__init__(make, model, year)
        self.door = door

class Truck(Vehicle):
    def __init__(self, make, model, year, payload):
        super().__init__(make, model, year)
        self.payload = payload
    
class Motorcycle(Vehicle):
    def __init__(self, make, model, year, cc):
        super().__init__(make, model, year)
        self.cc = cc

In [6]:
class Walker:
    def walk(self):
        print("this animal walks")
    
class Swimmer:
    def swim(self):
        print("this animal swims")
    
class Alligator(Walker, Swimmer):
    pass

ally = Alligator()
ally.walk()
ally.swim()

this animal walks
this animal swims

In [8]:
Alligator.mro()

[__main__.Alligator, __main__.Walker, __main__.Swimmer, object]

In [10]:
Alligator.__mro__

(__main__.Alligator, __main__.Walker, __main__.Swimmer, object)

In [ ]:
# task 1
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age
    
    def introduce_self(self):
        print(f"your welcome {self.name} with {self.age} years old")

In [14]:
class University_Member(Person):
    def __init__(self, name, age, university_name):
        super().__init__(name, age)
        self.university_name = university_name

    def introduce_self(self):
        print(f"your welcome {self.name} with {self.age} years old at {self.university_name}")
        super().introduce_self()
        print(f"uni name is : {self.university_name}")

In [15]:
uni_mem1 = University_Member("reza", 23, "shahid madani")

In [17]:
uni_mem1.introduce_self()

your welcome reza with 23 years old at shahid madani
your welcome reza with 23 years old
uni name is : shahid madani

In [27]:
# task 2
class Student(University_Member):
    def __init__(self, name, age, university_name, student_id):
        super().__init__(name, age, university_name)
        self.student_id = student_id
    
    def introduce_self(self):
        print(f"your welcome {self.name}, with {self.age} years old at at {self.university_name} "
              f"with student id : {self.student_id}")
        
class Instructor(University_Member):
    def __init__(self, name, age, university_name, employee_id):
        super().__init__(name, age, university_name)
        self.employee_id = employee_id
    
    def introduce_self(self):
        print(f"your welcome {self.name}, with {self.age} years old at at {self.university_name} "
              f"with student id : {self.employee_id}")

In [28]:
stu1 = Student("reza", 23, 'shahid madani', 4001830272)
ins1 = Instructor('sara', 33, 'tehran', 44332211)

In [29]:
stu1.introduce_self()
ins1.introduce_self()

your welcome reza, with 23 years old at at shahid madani with student id : 4001830272
your welcome sara, with 33 years old at at tehran with student id : 44332211

In [33]:
# task 3
print(Student.__mro__)
print(Instructor.mro())

(<class '__main__.Student'>, <class '__main__.University_Member'>, <class '__main__.Person'>, <class 'object'>)
[<class '__main__.Instructor'>, <class '__main__.University_Member'>, <class '__main__.Person'>, <class 'object'>]