In [1]:
def greet():
    print("hello world")

In [3]:
greet()

hello world

In [4]:
def personalize_greeting(name):
    print(f'hello {name}')

In [7]:
name = input("enter your name: ")
personalize_greeting("reza")

hello reza

In [15]:
PI = 3.14159
def circle_area(radius):
    area = PI * (radius ** 2)
    return area

In [16]:
result = circle_area(4)
print(f'the area of circle is {result}')

the area of circle is 50.26544

In [17]:
def addetionsal(first_number, second_number):
    return first_number + second_number

In [18]:
print(f'resual is {addetionsal(4, 5)}')

resual is 9

In [42]:
def food_list():
    foods = ['pizza', 'salad', 'soup']
    print("menu:")
    for food in foods: 
        print(f'   {food}')

In [43]:
food_list()

menu:
   pizza
   salad
   soup

In [44]:
def min_max(numbers):
    return min(numbers), max(numbers)

In [45]:
min_number, max_number = min_max([2, 4, 3, 5, 6, 7, 8, 9, 11, 99])
print(f'minimum : {min_number}, maximum : {max_number}')

minimum : 2, maximum : 99

In [46]:
def schedule_visit(section, time, activity='Feeding'):
    print(f'the visitors meet the {section} at {time}, for {activity}')

In [47]:
schedule_visit('Reptiles', '10:00AM')

the visitors meet the Reptiles at 10:00AM, for Feeding

In [50]:
schedule_visit('Birds', '1:00PM', 'educational talk')

the visitors meet the Birds at 1:00PM, for educational talk

In [51]:
def add_special_request (section, request=None):
    if request:
        print(f'spelcial request for the {section} section: {request}')
    else:
        print(f'no special requests have beeen made for the {section} section.')

In [52]:
add_special_request('reptiles')

no special requests have beeen made for the reptiles section.

In [ ]:
def celsius_to_fahrenheit(number):
    if not (type(number) == int or type(number) == float):
        print("your entired not integer")
    else:
        return (number * (9/5) + 32)
    
def get_number():
    number_recived = float(input('enter temper to convert farenhite: '))
    return number_recived

In [91]:
result = celsius_to_fahrenheit(get_number())
print(result)

ValueError: invalid literal for int() with base 10: 'rr'

In [ ]:
x = "4"
x.is
type(x)

str

In [92]:
type(float(x))

float

In [94]:
def water_state(number_p):
    if type(number_p) == int or type(number_p) == float:
        if number_p < 0:
            return "solid"
        elif number_p <= 100 and number_p >= 0:
            return "liquid"
        else: 
            return 'gas'
    print("your entierd is invalid")

In [99]:
water_state("ds")

your entierd is invalid