In [4]:
get_number = lambda x : x ** 2
print(f'square of 3 is {get_number(3)}')

square of 3 is 9

In [ ]:
multipel = lambda x, y: y * x
multipel(2, 3)

In [11]:
ages = [14, 18, 21, 16, 30, 45, 17, 22, 61]
result = filter(lambda x: x >= 18, ages)
print(f'ages gerether than 18 is: {list(result)}')

ages gerether than 18 is: [18, 21, 30, 45, 22, 61]

In [14]:
prices = [19, 99, 35, 50, 89, 99, 43, 75]
result = map(lambda price : (price - (price * 0.1)), prices)
list(result)

[17.1, 89.1, 31.5, 45.0, 80.1, 89.1, 38.7, 67.5]

In [18]:
products = [('apple', 1.0), ('banana', 0.5), ('cherry', 1.5), ('date', 0.75)]
res = sorted(products, key=lambda product: product[1])
print(list(res))

[('banana', 0.5), ('date', 0.75), ('apple', 1.0), ('cherry', 1.5)]

In [21]:
books = [
    {'title': 'Book A', 'year': 2002},
    {'title': 'Book B', 'year': 1999},
    {'title': 'Book C', 'year': 2010},
    {'title': 'Book D', 'year': 1985}
]

In [25]:
res = sorted(books, key=lambda book: book['year'])
for book in res:
    print(f'title and book: {book}')

title and book: {'title': 'Book D', 'year': 1985}
title and book: {'title': 'Book B', 'year': 1999}
title and book: {'title': 'Book A', 'year': 2002}
title and book: {'title': 'Book C', 'year': 2010}

In [26]:
text = "The quick brown fox jumps over the lazy dog"
numbers_list = [8, 23, 45, 12, 78]
mixed_list = ["hello", 10, "world", 42]

In [27]:
print(f'number of charecture: {len(text)}')

number of charecture: 43

In [28]:
print(f'uppercase text : {text.upper()}')

uppercase text : THE QUICK BROWN FOX JUMPS OVER THE LAZY DOG

In [32]:
total = sum(numbers_list)
print(f'total nubmers: {total}')
print(f'max of numbers: {max(numbers_list)}')
print(f'min of numbers: {min(numbers_list)}')

total nubmers: 166
max of numbers: 78
min of numbers: 8

In [33]:
print(f'Occurrences of 10: {mixed_list.count(10)}')
print(f'sored numbers : {sorted(numbers_list, reverse=True)}')

Occurrences of 10: 1
sored numbers : [78, 45, 23, 12, 8]

In [40]:
print(text.split())

['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']