In [5]:
squars = [x**2 for x in range(10)]

In [7]:
print(squars)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [10]:
even_squares = [x**2 for x in range(10) if x %2 == 0]
print(even_squares)

[0, 4, 16, 36, 64]

In [ ]:
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
flattened = [num for i in matrix for num in i]
print(flattened)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [20]:
cube_list = [num**3 for num in range(1,11)]
print(cube_list)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [16]:
stringg = input("enter a string")
results = [char for char in stringg if char in 'aeiou']
print(results)

['e', 'a']

In [23]:

res = [faren * 1.8 +32 for faren in [33, 66, 11, 22, 99, 77, 66]]
print(res)

[91.4, 150.8, 51.8, 71.6, 210.20000000000002, 170.6, 150.8]

In [26]:
name_list = {'ali', 'reza','sara', 'sara'}
first_letter = {i[0] for i in name_list}
print(first_letter)

{'r', 'a', 's'}

In [29]:
ssquared_dict = {x: x**2 for x in range(10) if x % 2 == 0}
print(ssquared_dict)

{0: 0, 2: 4, 4: 16, 6: 36, 8: 64}

In [31]:
my_dict = {'a':1, 'b':2, 'c':3}
inverted_dict = {value: key for key, value in my_dict.items()}
inverted_dict

{1: 'a', 2: 'b', 3: 'c'}

In [40]:
products = [
    {"name": "Laptop", "category": "Electronics", "price": 999.99},
    {"name": "Smartphone", "category": "Electronics", "price": 699.99},
    {"name": "Book: The Alchemist", "category": "Books", "price": 14.99},
    {"name": "Book: Harry Potter", "category": "Books", "price": 29.99},
    {"name": "Bluetooth Headphones", "category": "Electronics", "price": 199.99},
    {"name": "Monitor", "category": "Electronics", "price": 149.99},
    {"name": "Book: Python Programming", "category": "Books", "price": 49.99},
    {"name": "Desk Lamp", "category": "Furniture", "price": 24.99},
    {"name": "Mousepad", "category": "Accessories", "price": 5.99},
    {"name": "Stylus Pen", "category": "Accessories", "price": 12.99},
]

In [41]:
electronic_list = [amount['name'] for amount in products if amount['category'] == 'Electronics']
print(electronic_list)

['Laptop', 'Smartphone', 'Bluetooth Headphones', 'Monitor']

In [45]:
name_price = {product['name']: product['price'] for product in products if product['price'] > 50}
print(name_price)

{'Laptop': 999.99, 'Smartphone': 699.99, 'Bluetooth Headphones': 199.99, 'Monitor': 149.99}

In [48]:
price_every_book = [item['price'] for item in products if item['category'] == 'Books' ]
print(price_every_book)
averge_price_booss = sum(price_every_book) / len(price_every_book) if price_every_book else 0
print('average price of books: ', averge_price_booss)

[14.99, 29.99, 49.99]
average price of books:  31.656666666666666

In [55]:
x = 100
xxx = x if range(1) else 0
print(xxx)

100

In [1]:
words = ["apple", "banana", "cherry", "date", "elderberry", "fig", "grape"]

In [2]:
grether_than_five_words = [word for word in words if len(word) > 5]

In [5]:
print(f"long words: {grether_than_five_words}")

long words: ['banana', 'cherry', 'elderberry']

In [6]:
len_words = [len(word) for word in words]
print(f'len of words: {len_words}')

len of words: [5, 6, 6, 4, 10, 3, 5]

In [8]:
dict_list = {key: len(key) for key in words}

In [9]:
print(f'dict list: {dict_list}')

dict list: {'apple': 5, 'banana': 6, 'cherry': 6, 'date': 4, 'elderberry': 10, 'fig': 3, 'grape': 5}

In [15]:
scores = [88, 92, 78, 90, 89, 76, 61]
grade_categories = ['pass' for score in scores if score>= 75 else 'false']

SyntaxError: invalid syntax (727835283.py, line 2)

In [19]:
grade_categories = ['pass' if score > 75 else 'fail' for score in scores]
print(grade_categories)

['pass', 'pass', 'pass', 'pass', 'pass', 'pass', 'fail']